name: week-3-ci

on:
  push:
    branches:
      - 'week-3-hw1'

env:
  IMAGE_MAIN_NAME: mnist_train
  IMAGE_MAIN_TAG: latest

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          docker build -f week-3/mnist-train/Dockerfile -t $mnist-train:latest week-3/mnist-train
      - name: Test data
        run: |
          docker run mnist-train:latest make test_data
      - name: Test model
        run: |
          docker run mnist-train:latest make test_model
      - name: Test all
        run: |
          docker run mnist-train:latest make test_all
